.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
}
body {
  text-align: center;
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
  font-size: larger;
}
input {
  width: 250px;
  height: 22px;
}
button {
  height: 28px;
  background-color: #9361bf;
  color: aliceblue;
}
li {
  padding: 20px;
  border-left: 5px solid #ddd;
  border-right:5px solid #ddd;
  margin: 20px 10px; 
}

li:hover {
  border-color: #9361bf;
}

.delete {
  float: right;
  background: #9361bf;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover {
  background: #333;
}

